In [121]:
import pandas as pd 
import numpy as np 
from faker import Faker

In [149]:
import pandas as pd
from faker import Faker

def generate_fake_data(num_customers, max_repeats):
  fake = Faker()
  data = []

  for _ in range(num_customers):
    customer_id = fake.random_int(min=1000, max=9999)
    first_name = fake.first_name()
    last_name = fake.last_name()

    for _ in range(fake.random_int(min=1, max=max_repeats)):
      data.append([customer_id, first_name, last_name])

  df = pd.DataFrame(data, columns=['customer_id', 'first_name', 'last_name'])
  return df

# Example usage:
num_customers = 5000
max_repeats = 15
fake_data = generate_fake_data(num_customers, max_repeats)
print(fake_data)

       customer_id first_name last_name
0             3186      Laura    Sparks
1             3186      Laura    Sparks
2             3186      Laura    Sparks
3             3186      Laura    Sparks
4             3186      Laura    Sparks
...            ...        ...       ...
40313         6242      Steve  Peterson
40314         6242      Steve  Peterson
40315         6242      Steve  Peterson
40316         6242      Steve  Peterson
40317         6242      Steve  Peterson

[40318 rows x 3 columns]

In [153]:
import pandas as pd
import numpy as np

def shuffle_data(df):
    # Create a unique identifier for each customer
    df['customer_group'] = df.groupby(['customer_id', 'first_name', 'last_name']).ngroup()

    # Shuffle the DataFrame
    df = df.sample(frac=1)

    # Drop the temporary customer_group column
    df.drop(columns=['customer_group'], inplace=True)

    return df

In [155]:
fake_data_1 =shuffle_data(fake_data)

In [158]:
fake_data_1.head()

       customer_id first_name last_name
32270         6492      Frank     Kirby
17209         6294     Angela     Bauer
30536         3879      David  Sullivan
33830         4109      James   Gardner
35376         3763      Keith   Edwards

In [122]:


def generate_customer_data(num_rows):
  fake = Faker()
  countries = ['India', 'Argentina', 'Brazil', 'Mexico']
  data = {
      'customer_id': np.random.randint(100000, 999999, size=num_rows),
      'first_name': [fake.first_name() for _ in range(num_rows)],
      'last_name': [fake.last_name() for _ in range(num_rows)],
      'country': np.random.choice(countries, size=num_rows),
      'gender': np.random.choice(['Male', 'Female'], size=num_rows),
      'age': np.random.randint(18, 71, size=num_rows)
  }

  df = pd.DataFrame(data)
  return df
num_rows = 1000
df = generate_customer_data(num_rows)
print(df.head())

   customer_id first_name last_name    country  gender  age
0       410133      Brian    Snyder  Argentina  Female   53
1       634893      Kayla      Reed      India  Female   64
2       683361       Mike  Williams  Argentina    Male   22
3       615062    Heather     Smith     Brazil  Female   63
4       195699    Kaitlyn   Kennedy     Brazil  Female   31

In [123]:
df.shape

(1000, 6)

In [124]:
df_2 = pd.read_csv("my_data_3.csv")

In [125]:
df_2.shape

(1000, 12)

In [126]:
df_final = pd.concat([df,df_2],axis=1)

In [127]:
df_final.head()

,customer_id,first_name,last_name,country,gender,age,1. How long have you been using betting platform ?,2. Which games do you primarily play ?,3. How much time do you typically spend playing per day?,4. How often do you place bets?,5. On an average how much money do you bet?,6. How many bets have you made on betting app?,7. How often do you typically withdraw money from you betting account ?,8. How much did you receive in welcome or sing-up bonuses?,9. How much have you received in bonuses other than welcome or sign-up bonuses?,10. What is the highest amount you've won in a single bet or transaction on this platform?,11. How much average profit have you made on this platform overall?,12. How much average loss have you made on this platform overall?
0,410133,Brian,Snyder,Argentina,Female,53,More than a year,Cricket,1 - 2 hours,Weekly,1711,92,Monthly,570,1000,50516,18831,57928
1,634893,Kayla,Reed,India,Female,64,1-3 months,Football,1 - 2 hours,No,69748,121,Monthly,432,394,8459,15059,111729
2,683361,Mike,Williams,Argentina,Male,22,1-3 months,Cricket,2 - 4 hours,Occasionally,71061,7,Monthly,244,2461,21041,258,123540
3,615062,Heather,Smith,Brazil,Female,63,Less than a month,Baseball,Less than 1 hour,Daily,1514,75,Daily,523,210,870,19777,84345
4,195699,Kaitlyn,Kennedy,Brazil,Female,31,3-6 months,Basketball,Less than 1 hour,Daily,5059,104,Monthly,625,281,39358,39243,122167

In [128]:
df_final.shape

(1000, 18)

In [129]:
df_final.columns = ["Player_Id","First_Name","Last_Name","Country","Gender","Age","Betting_Platform_Tenure","Game_Genre","Daily_playtime","Bet_frequency","Average_bet","Total_bet","Withdraw_Frequency","Welcome_bonus","Other_bonus","Max_win","Avg_profit","Max_loss"]

In [130]:
file_name ="project_data.csv"

In [131]:
def random_factor():
    return np.random.uniform(0.6,0.9)

In [146]:
df_final["Avg_profit"] = np.where(df_final["Avg_profit"]>df_final["Max_win"],round(df_final["Max_win"]*random_factor()),df_final["Avg_profit"] )

In [145]:
df_final["Max_loss"] = np.where(df_final["Max_loss"]>(df_final["Average_bet"]*2+df_final["Max_win"]+df_final["Avg_profit"]),round((df_final["Average_bet"]*2+df_final["Max_win"]+df_final["Avg_profit"])*random_factor()),df_final["Max_loss"])

In [147]:
df_final.to_csv(file_name,index=False)